$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;
$icomoon-font-path:         '/packages/schedulizer/css/_fonts';

@import 'compass';
@import 'dependencies/icomoon';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

#ccm-dashboard-content.container-fluid {padding-bottom:0;
  > header {margin-bottom:0;}
}

.schedulizer-app {
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/button-groups';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navs';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/utilities';
  @import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities';
  @import 'dependencies/angular-strap';
  //@import 'dependencies/fullcalendar';
  @import 'dependencies/calendry';

  .ccm-dashboard-content-full {padding-bottom:20px;margin: 0 !important;
    [calendar]{}
  }
}

@media screen and (min-width:992px){
  .schedulizer-app {
    .ccm-dashboard-content-full {padding-left:20px;margin:0 0 0 -97px !important;}
  }
}

.calendar-wrap {padding-top:20px;}

// Custom modal
[modal-window]{font-family:$font-family-sans-serif;font-size:16px;width:100%;height:100%;visibility:hidden;opacity:0;display:block;position:fixed;top:0;left:0;background:rgba(255,255,255,0.95);z-index:-1;@include transform(translateX(-100%) translateZ(0));@include transition(all 0.25s ease);
  a {cursor:pointer;}
  &.open {visibility:visible;opacity:1;z-index:999;@include transform(translateX(0) translateZ(0));}
  .icon-close {position:absolute;top:49px;right:0;font-size:3rem;line-height:1;padding:0;z-index:2;cursor:pointer;@include transform(rotate(0));@include transition(all 0.25s ease);
    &:hover {text-decoration:none;@include transform(rotate(-90deg));}
  }
  .loading {
    img {padding-bottom:20px;}
  }
  .modal-inner {padding:30px 0;height:calc(100% - 48px);position:relative;top:48px;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;}
  //.modal-inner {padding-top:34px;display:table-cell;width:100%;height:100%;vertical-align:middle;text-align:center;}
  .container-fluid {width:75%;max-width:700px;text-align:left;}

  form {
    label {font-weight:normal;}

    [select-wrap]{display:inline-block;position:relative;
      &::after {content: "\e608";font-family:'icomoon';position:absolute;top:50%;right:5px;font-size:24px;z-index:-1;@include transform(translateY(-50%));}
      &.block {display:block;}
      select {padding-right:25px;text-transform:capitalize;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:transparent;@include border-radius(0);}
    }

    &.event {
      .tab-pane {padding:15px 15px 0;border:1px solid #ddd;border-top:0;position:relative;
        .remove-time-entity {position:absolute;top:0;right:0;}
      }

      .ccm-file-selector {@include border-radius(0);}
      .redactor_editor {padding:10px;}
      label {
        &.btn input[type="checkbox"] {visibility:hidden;position:absolute;}
        &.color-thumb {position:relative;display:inline-block;width:auto;height:auto;padding:15px;margin:0 0 0 7px;cursor:pointer;@include border-radius(50%);
          &.active::before {display:inline-block;content:"\e116";font-family:'icomoon';font-size:20px;color:$brand-success;position:absolute;top:50%;left:50%;@include transform(translate(-50%,-50%));}
          input {visibility:hidden;position:absolute;}
        }
      }
      .input-title {font-weight:200;border:0;outline:0;padding:0;height:auto;font-size:180%;background:transparent;@include box-shadow(none);}
      .form-group {position:relative;}

      // start/end time display
      .row {
        &.is-all-day {
          .form-group {display:none;}
          .form-group:first-of-type {display:block;width:auto;}
          .end-dt {display:none;}
        }
        &.is-open-ended {
          .end-dt {display:none;}
        }
      }

      // Nullifiers
      .has-nullifiers {font-size:13px;display:inline-block;padding:0 5px;}
      .nullifiers-list {
        .btn {width:25%;position:relative;
          i {font-size:18px;line-height:0;position:relative;top:4px;margin-left:4px;}
        }
      }
    }
  }
}

@media screen and (min-width:$screen-sm){
  [modal-window]{
    form.event {
      .delete-event {position:absolute;top:0;left:0;padding:1rem;
        button {margin-bottom:2px;}
      }
      .time-widgets {font-size:0;line-height:0;
        .form-group {display:inline-block;width:50%;font-size:$font-size-base;line-height:1;
          &:nth-of-type(2) input {border-left:0;}
        }
      }
    }
  }
}

// Overflow stuff for the modal
html.schedulizer-modal {overflow-y:hidden;
  //.event-form-wrapper {padding:15px 0;max-height:100%;width:100%;overflow-y:scroll;}
}